<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>Admin</title>
</head>

<body>

    <div>



        <%- include('../components/navbar.ejs'); %>

            <br><br><br>
            <br><br><br>


            <h1 class="text-center">Admin: <%= adm.nome %>
                    <%= adm.sobrenome %>
            </h1>
            <h3>
                <%= msg %>
            </h3>
            <br><br><br><br><br>
            <div class="tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" id="pilotos-tab" data-toggle="tab" href="#pilotos" role="tab"
                            aria-controls="pilotos" aria-selected="true">Pilotos</a>
                    </li>
                    <li class="nav-item waves-effect waves-light ">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Registrar Resultado</a>
                    </li>
                    <li class="nav-item waves-effect waves-light ">
                        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab"
                            aria-controls="users" aria-selected="false">Usuarios</a>
                    </li>
                    <li class="nav-item waves-effect waves-light ">
                        <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab"
                            aria-controls="event" aria-selected="false">Registrar Evento</a>
                    </li>
                    <li class="nav-item waves-effect waves-light ">
                        <a class="nav-link" id="noticia-tab" data-toggle="tab" href="#noticia" role="tab"
                            aria-controls="noticia" aria-selected="false">Registrar Noticia</a>
                    </li>

                    <li class="nav-item waves-effect waves-light ">
                        <a class="nav-link" id="calendario-tab" data-toggle="tab" href="#calendario" role="tab"
                            aria-controls="event" aria-selected="false">Calendario de corridas</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="pilotos" role="tabpanel" aria-labelledby="pilotos-tab">
                        <br><br><br><br>
                        <div class="container text-center">
                            <div class="row text-center">
                                <form class="form w-100" role="form" method="POST" action="/admin/update">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h5 class="card-title">Atualizar Piloto</h5>
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Id do Piloto: </label>
                                                    <select class="form-control" id="id_pilots" name="id_piloto">
                                                        <% pilots.forEach(pilot=>{ %>
                                                            <option>
                                                                <%= pilot.id_piloto %>
                                                            </option>
                                                            <%})%>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Numero do piloto: </label>
                                                    <input class="form-control" type="number" id="n_piloto"
                                                        name="n_piloto" placeholder="Digite o Numero do Piloto">
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Nome do piloto: </label>
                                                    <input class="form-control" type="text" id="nome_piloto"
                                                        name="nome_piloto" placeholder="Digite o Nome do piloto">
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Escuderia: </label>
                                                    <select class="form-control" id="esc_piloto" name="esc_piloto">
                                                        <% pilots.forEach(pilot=>{ %>
                                                            <option>
                                                                <%= pilot.escuderia %>
                                                            </option>
                                                            <%})%>
                                                    </select>
                                                </div>
                                            </div>
                                            <button class="btn btn-warning text-white" type="submit" act>Editar</button>
                                        </div>
                                    </div>
                                    <br><br><br><br>
                                </form>

                                <form class="form w-100" role="form" method="POST" action="/admin/addPiloto">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h5 class="card-title">Adicionar Piloto</h5>
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Numero do Piloto: </label>
                                                    <input type="number" class="form-control" name="numPiloto"
                                                        id="numPiloto" placeholder="Ex: 44">
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Nome do Piloto: </label>
                                                    <input type="text" class="form-control" name="nomePiloto"
                                                        id="nomePiloto" placeholder="Ex: Lewis Hamilton">
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Escuderia do Piloto:
                                                    </label>
                                                    <input type="text" class="form-control" name="escPiloto"
                                                        id="escPiloto" placeholder="Ex: Mercedes">
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label for="exampleFormControlSelect1"> Ano da Atualização:
                                                    </label>
                                                    <input type="number" class="form-control" name="anoPiloto"
                                                        id="anoPiloto" placeholder="Ex: 2021">
                                                </div>
                                            </div>
                                            <button class="btn btn-success" type="submit" act>Adicionar</button>

                                        </div>
                                    </div>
                                    <br><br><br><br>
                                </form>


                                <table class="table w-100">
                                    <thead>
                                        <tr>
                                            <th scope="col-md-1">ID</th>
                                            <th scope="col-md-2">Nome</th>
                                            <th scope="col-md-1">Numero</th>
                                            <th scope="col-md-2">Escuderia</th>
                                            <th scope="col-md-6">To Do</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--  -->

                                        <% pilots.forEach(pilot=>{ %>
                                            <tr>
                                                <td>
                                                    <%= pilot.id_piloto %>
                                                </td>
                                                <td>
                                                    <%= pilot.piloto %>
                                                </td>
                                                <td>
                                                    <%= pilot.numero %>
                                                </td>
                                                <td>
                                                    <%= pilot.escuderia %>
                                                </td>
                                                <td>
                                                    <form method="POST" action="/admin/deletarPiloto">
                                                        <input type="hidden" name="idPiloto"
                                                            value="<%= pilot.id_piloto %>">
                                                        <button class="btn btn-danger">Excluir</button>
                                                    </form>
                                                    <p>

                                                    </p>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <br /><br />
                    </div>
                    <br /><br /><br /><br />
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container">
                            <div class="row">
                                <br></br>
                                <form method="POST" action="/cadastraresultado">
                                    <div class="form-group">
                                        <div class="row">
                                            <br></br><br></br><br></br>
                                            <div class='col-12'>
                                                <div class='row'>
                                                    <label>Selecione a Etapa do Resultado: </label>
                                                    <select class="form-control" id="etapa" name="etapa">
                                                        <% calendar.forEach(calendar=>{ %>


                                                            <option value="<%=calendar.id%>" class="optionEtapa">
                                                                GP <%=calendar.id%> | <%= calendar.local %>
                                                            </option>

                                                            <%})%>
                                                    </select> <br><br><br>
                                                    <input name="rp1" type="number" class="mb-2 form-control"
                                                        placeholder="Primeiro colocado:" />
                                                    <div class='col-md-6'>
                                                        <input name="rp2" type="number" class="mb-2 form-control"
                                                            placeholder="Segundo colocado:" />
                                                    </div>
                                                    <div class='col-md-6'>
                                                        <input name="rp3" type="number" class="form-control"
                                                            placeholder="Terceiro colocado:" />
                                                    </div>
                                                    <input name="rp4" type="number" class=" mb-2 form-control"
                                                        placeholder="Pole Position:" />
                                                    <input name="rp5" type="number" class="mb-2 form-control"
                                                        placeholder="Volta Mais Rapida:" />

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="btn btn-primary btn-block btnLogin">
                                        Enviar Resultado
                                    </button>
                                </form>
                            </div>
                        </div>


                    </div>


                    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
                        <div class="container">
                            <div class="row">
                                <table class="table w-100  table-dark border-radius">
                                    <thead>
                                        <tr>
                                            <th scope="col-md-1">ID</th>
                                            <th scope="col-md-2">Nome</th>
                                            <th scope="col-md-1">Email</th>
                                            <th scope="col-md-2">Pontos</th>
                                            <th scope="col-md-2">Ação</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--  -->

                                        <% users.forEach(users=>{ %>
                                            <tr>
                                                <td>
                                                    <%= users.id %>
                                                </td>
                                                <td>
                                                    <%= users.nome %>
                                                </td>
                                                <td>
                                                    <%= users.email %>
                                                </td>
                                                <td>
                                                    <%= users.pontos %>
                                                </td>
                                                <td>
                                                    <form method="POST" action="/admin/deletarPiloto">
                                                        <input type="hidden" name="idUser" value="<%= users.id %>">
                                                        <button class="btn btn-danger">Excluir</button>
                                                    </form>
                                                    <p>

                                                    </p>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                        <div class="container">
                            <form method="POST" action="/admin/cadastraEvento">
                                <div class="row mt-2">

                                    <div class="col-md-6">
                                        <input name="titulo" type="text" class="form-control"
                                            placeholder="Titulo Do Evento" />
                                        <input name="assunto" type="text" class="form-control mt-3"
                                            placeholder="Assunto" />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input name="data" type="date" class="form-control mt-3"
                                                    placeholder="Data" />
                                            </div>
                                            <div class="col-md-6">
                                                <input name="local" type="text" class="form-control mt-3"
                                                    placeholder="Local" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <input name="horarioInit" type="datetime" class="form-control mt-3"
                                                    placeholder="Horario de Inicio" />
                                            </div>
                                            <div class="col-md-6">
                                                <input name="horarioEnd" type="datetime" class="form-control mt-3"
                                                    placeholder="Horario de Termino" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <textarea placeholder="Descrição do Evento" name="descEvento"
                                            class="form-control" id="exampleFormControlTextarea1"
                                            style='height: 100%'></textarea>


                                    </div>

                                    <input type="submit" value="Enviar Evento"
                                        class="btn btn-primary btn-block btnLogin my-5 btn-md">
                                </div>
                            </form>
                        </div>


                        <div class="container py-5">
                            <div class="row">
                                <% evento.forEach(evento=>{ %>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <img class="img-fluid" src="/img/ferrari_notizia.jpg" alt="Notizia">
                                            <div class="card-body">
                                                <h3 class="card-title">
                                                    <%=evento.titulo%>
                                                </h3>
                                                <h5 class="card-subtitle">
                                                    <%=evento.assunto%>
                                                </h5>
                                                <div class="desc">
                                                    <%=evento.descricao%>
                                                </div>
                                                <p>Data: <%=evento.data%>
                                                </p>


                                                <p>
                                                    Local: <%=evento.local%>
                                                </p>

                                                <div class="row">
                                                    <div class="col-6">
                                                        Horario:<br>
                                                        <%=evento.horario_init%>
                                                    </div>
                                                    <div class="col-6">
                                                        Até:<br>
                                                        <%=evento.horario_end%>
                                                    </div>
                                                </div>

                                                <form method="POST" action="/admin/deletarEvento">
                                                    <input type="hidden" name="idEvento"
                                                        value="<%= evento.id_evento %>">
                                                    <button class="btn btn-danger">Excluir</button>
                                                </form>


                                            </div>
                                        </div>
                                    </div>

                                    <%})%>
                            </div>
                        </div>



                    </div>

                    <div class="tab-pane fade" id="noticia" role="tabpanel" aria-labelledby="noticia-tab">
                        <div class="container">
                            <form method="POST" enctype="multipart/form-data" action="/admin/addImage">
                                <div class="custom-file mt-2">
                                    <input type="file" name="imgNews" class="custom-file-input" id="validatedCustomFile"
                                        accept="">
                                    <label class="custom-file-label" for="validatedCustomFile">Registar Imagem no banco
                                        de dados
                                    </label>
                                </div>
                                <input type="submit" value="Enviar">
                                <p class="text-red">^^^^^ Envie a foto antes de continuar</p>
                            </form>
                            <hr class="py-3">
                            <form method="POST" action="/admin/cadastraNoticia">
                                <div class="row mt-2">

                                    <div class="col-md-6">
                                        <input name="tituloNews" type="text" class="form-control"
                                            placeholder="Titulo Da Noticia" />
                                        <input name="subTitle" type="text" class="form-control mt-3"
                                            placeholder="Subtitulo" />
                                        <input name="link" type="text" class="form-control mt-3"
                                            placeholder="Link Da noticia" />
                                        <div class="custom-file mt-3">
                                            <input type="file" name="imgNews" class="custom-file-input"
                                                id="validatedCustomFile" accept="">
                                            <label class="custom-file-label" for="validatedCustomFile">Escolha a Mesma
                                                foto Novamente</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <textarea placeholder="Noticia" name="descNews" class="form-control"
                                            id="exampleFormControlTextarea1" style='height: 100%'></textarea>


                                    </div>
                                    <input type="submit" value="Enviar Noticia"
                                        class="btn btn-primary btn-block btnLogin my-5 btn-md">

                                </div>
                            </form>




                        </div>

                        <div class="container py-5">
                            <h3>Novidades Publicadas: </h3>
                            <div class="row">
                                <% news.forEach(news=>{ %>

                                    <div class="col-md-4 mt-5">
                                        <div class="card">
                                            <a href="<%=news.link%>">
                                                <img class="img-fluid" src="img/upload/novidades/<%=news.img%>"
                                                    alt="Notizia">
                                            </a>

                                            <div class="card-body">
                                                <h3 class="card-title">
                                                    <%=news.titulo%>
                                                </h3>
                                                <h5 class="card-subtitle">
                                                    <%=news.subtitulo%>
                                                </h5>
                                                <div class="desc">
                                                    <p class="card-text mt-4">
                                                        <%=news.descricao%>

                                                    </p>
                                                </div>
                                                <form method="POST" action="/admin/deletarNews">
                                                    <input type="hidden" name="idNews" value="<%= news.id_news %>">
                                                    <button class="btn btn-danger">Excluir</button>
                                                </form>


                                            </div>
                                        </div>
                                    </div>

                                    <%})%>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane fade" id="calendario" role="tabpanel" aria-labelledby="calendar-tab">
                        <div class="container">

                            <form method="POST" action="/admin/updatecalendar">
                                <div class="row mt-2">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input name="etapa" type="number" class="form-control mt-3"
                                                placeholder="Etapa" />
                                        </div>
                                        <div class="col-md-4">
                                            <input name="data_string" type="text" class="form-control mt-3"
                                                placeholder="Data da corrida ex: 28 de Março" />
                                        </div>
                                        <div class="col-md-4">
                                            <input name="corrida" type="text" class="form-control mt-3"
                                                placeholder="Local da corrida" />
                                        </div>

                                        <div class="col-md-2">
                                            <input name="horario" type="time" class="form-control mt-3"
                                                placeholder="Horario" />
                                        </div>
                                        <div class="row w-100">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <input name="situacao" type="text" class="form-control mt-3 text-center"
                                                    placeholder="Situação da corrida" />
                                            </div>

                                            <div class="col-md-3"></div>
                                        </div>
                                    </div>





                                    <button class="btn btn-primary btn-block btnLogin my-5 btn-md">
                                        Editar Calendario
                                    </button>
                                    <table class="table w-100  table-dark border-radius">
                                        <thead>
                                            <tr>
                                                <th scope="col-md-1">ID</th>
                                                <th scope="col-md-2">ano</th>
                                                <th scope="col-md-1">etapa</th>
                                                <th scope="col-md-2">data</th>
                                                <th scope="col-md-2">corrida</th>
                                                <th scope="col-md-2">horario</th>
                                                <th scope="col-md-2">situação</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% calendar.forEach(calendar=>{ %>
                                                <tr>
                                                    <td>
                                                        <%= calendar.id %>
                                                    </td>
                                                    <td>
                                                        <%= calendar.ano %>
                                                    </td>
                                                    <td>
                                                        <%= calendar.etapa %>
                                                    </td>
                                                    <td>
                                                        <%= calendar.data_string %>
                                                    </td>
                                                    <td>
                                                        <%= calendar.corrida %>
                                                    </td>
                                                    <td>
                                                        <%= calendar.horario %>
                                                    </td>
                                                    <td>
                                                        <%= calendar.situacao %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>





                                </div>
                            </form>
                        </div>


                    </div>
                </div>

            </div>




            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
</body>

</html>