<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <title>Home</title>
</head>

<body>

  <div>



    <%- include('components/navbar.ejs'); %>

    <br>
      <div class="container-fluid p-0 m-0 banner">
        <div class="text-center texto">
          <h1>SCUDERIA FERRARI CLUB</h1>
          <p>San Paolo - Brazil</p>
          
        </div>
        
        <div class="img-logo">
          <img class="img-fluid" src="/img/Logo_SAN-PAOLO_Brazil.webp" alt="">
      </div>
      </div>
      
      <br />

      <div class="container">
        <div class="tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link active" id="pilotos-tab" data-toggle="tab" href="#pilotos" role="tab"
                aria-controls="pilotos" aria-selected="false">Pilotos</a>
            </li>
            <li class="nav-item waves-effect waves-light ">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">SF21</a>
            </li>
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link " id="quemSomos-tab" data-toggle="tab" href="#quemSomos" role="tab"
                aria-controls="quemSomos" aria-selected="true">Quem somos</a>
            </li>
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link " id="almocos-tab" data-toggle="tab" href="#almocos" role="tab" aria-controls="almocos"
                aria-selected="true">Almoços</a>
            </li>
            <% if(log==1){ %>
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link " id="evento-tab" data-toggle="tab" href="#eventos" role="tab" aria-controls="eventos"
                aria-selected="true">Eventos</a>
            </li>
            <%}%>
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link " id="noticia-tab" data-toggle="tab" href="#noticia" role="tab" aria-controls="noticia"
                aria-selected="true">Noticias</a>
            </li>
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link " id="calentario-tab" data-toggle="tab" href="#calendario" role="tab"
                aria-controls="calendario" aria-selected="true">Calendario</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="pilotos" role="tabpanel" aria-labelledby="pilotos-tab">
              <br />
              <div class="row">

                <div class="col-12 col-md-6 py-4">
                  <a href="https://motorsport.uol.com.br/driver/carlos-sainz-jr/125468/">
                    <img class="img-fluid" src="/img/pilotos/wp6307661.jpg" alt="" />
                  </a>
                </div>


                <div class="col-12 col-md-6 py-4">
                  <a href="https://motorsport.uol.com.br/driver/charles-leclerc/131402/">
                    <img class="img-fluid" src="/img/pilotos/leclerc.jpg" alt="" />
                  </a>
                </div>

              </div>

              <br /><br />
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row justify-content-center">
                <a href="">
                  <br /><br />
                  <img class="img-fluid " src="/img/sf21.jpg" type="" />
                  <br /><br />
                </a>
                <div class="col-6">

                </div>
                <div class="col-6">

                </div>
              </div>
              <div class="container news anima">
                <div class="row">
                  <h2 class="m-3 text-white"> A Ferrari ja tem carro novo
                    para o ano de 2021</h2>
                  <p class="text-white h5 m-3">Escuderia Ferrari foi a última a lançar seu modelo para 2021 e manteve
                    segredo antes do início da pré-temporada no Bahrein</br>
                    Antes do SF21 ir à pista do Bahrein, áreas importantes como assoalho, dutos de freio traseiros e
                    difusores, peças essenciais na mudança de regulamento de 2021, ficaram escondidas nas imagens.
                  </p>
                  <h3 class="text-white m-3">Especificações técnicas:</h3>
                  <p class="text-white h5 m-3">Enquanto isso, as inúmeras mudanças que foram feitas na forma da placa de
                    apoio ao longo de 2020 para invocar um regime de fluxo específico resultaram em uma nova reflexão
                    para 2021, enquanto a nadadeira em ângulo externo localizada no topo da placa de apoio também foi
                    alterada.

                  </p>
                </div>

              </div>


            </div>
            <hr>
            <div class="tab-pane fade " id="quemSomos" role="tabpanel" aria-labelledby="quemSomos-tab">
              <div class="row mt-5">
                <div class="col-4">
                  <img class="img-fluid" src="/img/cc04dfebd3cd52762091c8bfd4e39833-gpMedium.jpg" alt="" srcset="" />
                </div>
                <div class="col-8">
                  <p class="text-black h5 mx-3">

                    O <strong>Ferrari Club São Paulo do Brasil</strong> é uma pessoa jurídica de direito privado,
                    constituída sob a forma de
                    associação, sem fins lucrativos, de natureza esportiva, filantrópica e cultural, com duração por
                    tempo
                    indeterminado, com sede e foro na Rua Frei Caneca, 1071, Cerqueira César, São Paulo, Capital, Estado
                    de
                    São Paulo, CEP 01307-003, que se regerá pelo presente Estatuto Social e pelas leis aplicáveis.

                  </p>
                  <p class="text-black h5 mx-3">
                    <strong>
                      Tem por finalidade:
                    </strong>
                  </p>

                  <ul>
                    <li>Difundir e divulgar o automobilismo esportivo, em especial a Escuderia Ferrari, e agregar seus
                      “tifosi”e simpatizantes.</li>
                    <li>Promover e participar de campanhas de interesse social e beneficente junto a entidades
                      filantrópicas.</li>
                    <li>Promover e participar de outras iniciativas esportivas e culturais.</li>
                    <li>No desenvolvimento de suas atividades a entidade não fará distinção alguma quanto à raça, cor,
                      nacionalidade, sexo, condição social, credo político ou religioso.</li>
                  </ul>
                </div>
                <br />
                <div class="text-center w-100 mt-4">
                  <h2 class="text-black">Diretoria</h2>

                  <hr class="divisor m-0 text-center" />


                </div>
                <div class="col-2"></div>
                <div class="col-4 mt-4">
                  <ul>
                    <li>Alberto Mayer -
                      Presidente</li>
                    <li>Roberto Vicente Frizzo -
                      Vice-Presidente</li>
                    <li>Mario Antonio Turnaturi -
                      Diretor de Relações Públicas</li>
                    <li>Matteo Arcari -
                      Primeiro Secretário</li>
                  </ul>
                </div>
                <div class="col-4 mt-4">
                  <li>Gabriele Tusa -
                    Segundo Secretário</li>
                  <li>Pierluigi De Nicola -
                    Primeiro Tesoureiro</li>
                  <li>Federico Marina -
                    Segundo Tesoureiro</li>
                </div>
              </div>
              <div class="col-2"></div>

            </div>
            <div class="tab-pane fade " id="almocos" role="tabpanel" aria-labelledby="almocos-tab">
              <h2 class="m-4 text-center">Almoços</h2>
              <div class="row text-center almocosR">

                <div class="col-2">
                  <img class="img-fluid agenda" src="/img/agenda_almocos_2020.webp" alt="" srcset="" />
                </div>
                <div class="col-6">
                  <img class="img-fluid" src="/img/invito_pranzo_3_2020 (1).webp" alt="" />
                </div>
              </div>



            </div>

            <div class="tab-pane fade " id="eventos" role="tabpanel" aria-labelledby="eventos-tab">


              <% if(log==1){ %>

                <div class="container mt-5">
                  <div class="row">
                    <% event.forEach(event=>{ %>

                      <div class="col-md-4">
                        <div class="card">
                          <img class="img-fluid" src="/img/ferrari_notizia.jpg" alt="Notizia">
                          <div class="card-body">
                            <h3 class="card-title">
                              <%=event.titulo%>
                            </h3>
                            <h5 class="card-subtitle">
                              <%=event.assunto%>
                            </h5>
                            <div class="desc">
                              <p class="card-text mt-4">
                                <%=event.descricao%>
                              </p>
                            </div>
                            <p>Data: <%=event.data%>
                            </p>


                            <p>
                              Local: <%=event.local%>
                            </p>

                            <div class="row">
                              <div class="col-6">
                                Horario:<br>
                                <%=event.horario_init%>
                              </div>
                              <div class="col-6">
                                Até:<br>
                                <%=event.horario_end%>
                              </div>
                            </div>




                          </div>
                        </div>
                      </div>


                      <% }) %>
                  </div>
                </div>




                <% } %>


                  








                    <h4 class="m-4 text-center"></h4>



            </div>

            <div class="tab-pane fade " id="noticia" role="tabpanel" aria-labelledby="noticia-tab">


              

                <div class="container py-5">
                  <div class="row">
                      <% news.forEach(news=>{ %>

                          <div class="col-md-4 mt-5">
                              <div class="card">
                                  <a href="<%=news.link%>">
                                  <img class="img-fluid" src="img/upload/novidades/<%=news.img%>"
                                      alt="Notizia">
                                  </a>

                                  <div class="card-body">
                                      <h3 class="card-title">
                                          <%=news.titulo%>
                                      </h3>
                                      <h5 class="card-subtitle">
                                          <%=news.subtitulo%>
                                      </h5>
                                      <div class="desc">
                                          <p class="card-text mt-4">
                                              <%=news.descricao%>

                                          </p>
                                      </div>
                                      


                                  </div>
                              </div>
                          </div>

                          <%})%>
                  </div>
              </div>




                


                  








                    <h4 class="m-4 text-center"></h4>



            </div>

            <div class="tab-pane fade " id="calendario" role="tabpanel" aria-labelledby="calendario-tab">

              <div class="row">
              <div class="container w-100">
                <table class="table table-striped text-center table_calendar">
                  <thead>
                    <tr>
                      <th scope="col-md-2">Data</th>
                      <th scope="col-md-8">Circuito</th>
                      <th scope="col-md-2">Horário</th>
                    </tr>
                  </thead>
                  <tbody>


                    <% corridas.forEach(corridas=>{ %>
                      <tr>
                        <td>
                          <%= corridas.data_string %>
                        </td>
                        <td>
                          <%= corridas.local %>
                        </td>
                        <td>
                          <%= corridas.horario %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>

              </div>
            </div>

          </div>
        </div>

      </div>



  </div>

  <div id="clockdiv" class='rounded bg-gradient-1 text-white shadow p-5 text-center mb-5 w-100'>
    <!-- <h1 class='hora'>Proxima Corrida:</h1>
        <span></span>
        <br /> <br />
        <h1 class='hora'>Circuito:</h1>
        <img class="img-fluid circuito" src="/img/Silverstone_Circuit_logo.png" alt="" /> -->

    <video class="img-fluid" controls autoplay loop id="myVideo">
      <source src="/img/SF21 - Car launch_Trim.mp4" type="video/mp4">
    </video>

  </div>







  <%- include('components/footer.ejs'); %>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
</body>

</html>